<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header bg-dark">
      <h5 class="modal-title text-light" id="miModalLabel">
        {{ editar ? 'Editar Serie' : 'Añadir Serie' }}</h5>
      <button type="button"
              class="btn-close" (click)="activeModal.dismiss()"
              aria-label="Close"></button>

    </div>
    <div class="modal-body bg-dark">

      <form [formGroup]="formSerie" (ngSubmit)="onSubmit()">

        <div class="form-floating mb-3">
          <input formControlName="titulo"
                 type="text" class="form-control"
                 id="titulo"
                 placeholder="Titulo">
          <label for="titulo">Titulo</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="numeroCapitulos"

                 type="number" class="form-control"
                 id="numeroCapitulos"
                 placeholder="Numero Capitulos">

          <label for="numeroCapitulos">Numero Capitulos</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="fechaEmision"
                 type="date" class="form-control"
                 id="fechaEmision"
                 placeholder="Fecha Emision">
          <label for="fechaEmision">
            Fecha Emision</label>
        </div>
        <div formArrayName="imagenes">
          @for (img of imagenesF.controls; track $index) {
            <div [formGroupName]="$index" class="form-floating mb-3">
              <div class="row">
                <div class="col-md-8">
                  <input formControlName="url"
                         type="text"
                         class="form-control"
                         placeholder="URL de la imagen">
                  <label>URL de la Imagen</label>
                </div>
                <div class="col-md-2">
                  <button type="button"
                          class="btn btn-outline-danger"
                          (click)="removeImagen($index)">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          }
        </div>

        <!-- Botón para agregar una nueva imagen -->
        <div class="d-flex justify-content-between mb-3">
          <button type="button"
                  class="btn btn-outline-info"
                  (click)="addNewImagen()">
            Agregar Imagen
          </button>
        </div>
        <div formArrayName="categorias">
          @for (cat of categoriasF.controls; track $index) {
            <div [formGroupName]="$index" class="form-floating">
              <div class="row">
                <div class="col-md-8">
                  <select id="select"
                          class="form-select"
                          (change)="onCategoryChange($index)"
                          formControlName="selectedCategory">
                    <option [ngValue]="null" disabled>Selecciona una categoría</option>
                    @for (option of categorias; track option._id) {
                      <option [ngValue]="option._id">{{ option.nombre }}</option>
                    }
                  </select>
                  <label for="select">Categoría</label>
                </div>
                <div class="col-md-2">
                  <button type="button"
                          class="btn btn-outline-danger"
                          (click)="removeCategoria($index)">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
        <div class="d-flex justify-content-between mb-3">
          <button type="button" class="btn btn-outline-info" (click)="addCategoria()">
            Agregar categoría
          </button>
          <button type="button" class="btn btn-outline-info ms-2" (click)="showNewCategoryForm = !showNewCategoryForm">
            Nueva categoría
          </button>
        </div>
        @if (showNewCategoryForm) {
          <div class="border p-3 mt-3">
            <form [formGroup]="formNuevaCategoria">
              <div class="form-floating mb-2">
                <input formControlName="newCategoryName"
                       type="text"
                       class="form-control"
                       placeholder="Nombre de la categoría">
                <label>Nombre de la Nueva Categoría</label>
              </div>
              <div class="form-floating mb-2">
                <input formControlName="newCategoryImage"
                       type="text"
                       class="form-control"
                       placeholder="URL de la imagen">
                <label>URL Imagen</label>
              </div>
              <button type="button"
                      class="btn btn-success"
                      (click)="guardarNuevaCategoria()">
                Guardar Nueva Categoría
              </button>
            </form>
          </div>
        }

        <div class="form-floating mb-3 mt-3">
                  <textarea formControlName="sinopsis"
                            type="text"
                            class="form-control"
                            id="sinopsis">
                  </textarea>
          <label for="sinopsis">
            Sinopsis</label>
        </div>
      </form>

    </div>
    <div class="modal-footer bg-dark">
      <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Cancelar
      </button>
      <button type="submit"  class="btn btn-success" (click)="onSubmit()">{{editar? 'Guardar Cambios' : 'Añadir Serie'}} </button>
    </div>
  </div>
</div>


