<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="miModalLabel">
        {{ editar ? 'Editar Serie' : 'Añadir Serie' }}</h5>
      <button type="button"
              class="btn-close" (click)="activeModal.dismiss()"
              aria-label="Close"></button>

    </div>
    <div class="modal-body">

      <form [formGroup]="formSerie" (ngSubmit)="onSubmit()">

        <div class="form-floating mb-3">
          <input formControlName="titulo"
                 type="text" class="form-control"
                 id="titulo"
                 placeholder="Titulo">
          <label for="titulo">Titulo</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="numeroCapitulos"

                 type="number" class="form-control"
                 id="numeroCapitulos"
                 placeholder="Numero Capitulos">

          <label for="numeroCapitulos">Numero Capitulos</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="fechaEmision"
                 type="date" class="form-control"
                 id="fechaEmision"
                 placeholder="Fecha Emision">
          <label for="fechaEmision">
            Fecha Emision</label>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="imagenes"
                 type="text" class="form-control"
                 id="imagenes"
                 placeholder="Imagen">
          <label for="imagenes">
            Imagenes</label>
        </div>
        <div formArrayName="categorias">
          @for (cat of categoriasF.controls; track $index){
            <div [formGroupName]="$index"  class="form-floating">
              <div class="row">
                <div class="col-md-8">
                  <select id="select" class="form-select"
                          (change)="onCategoryChange($index)"
                          (select)="onCategoryChange($index)"
                          formControlName="selectedCategorias">
                    <option [ngValue]="null" disabled>Selecciona una categoría</option>
                    @for (option of categorias; track option._id){
                      <option [ngValue]="option._id" >{{option.nombre}}</option>
                    }
                  </select>
                  <label for="select">Categoria</label>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn bg-danger text-light" (click)="removeCategoria($index)">Eliminar</button>
                </div>
              </div>
            </div>
          }
        </div>
        <div class="d-flex  ">
          <button type="button" class="btn btn-primary" (click)="addNewCategoria()">
            Agregar categoría
          </button>
        </div>


        <div class="form-floating mb-3 mt-3">
                  <textarea formControlName="sinopsis"
                            type="date"
                            class="form-control"
                            id="sinopsis">
                  </textarea>
          <label for="sinopsis">
            Sinopsis</label>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar
      </button>
      <button type="submit"  class="btn btn-primary" (click)="onSubmit()">{{editar? 'Guardar Cambios' : 'Añadir Serie'}} </button>
    </div>
  </div>
</div>


