<app-navbar btnEdit="edit"></app-navbar>
<div class="container mt-5 pt-5">
  @if (serie){
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-4 text-light">{{ serie.titulo }}</h1>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div id="serieCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            @for (image of serie.imagenes; track $index){
              <div [ngClass]="{'carousel-item': true, 'active': $index === 0}">
                <img [src]="image" class="d-block imgSize" alt="Imagen de la serie">
              </div>
            }

          </div>
          <a class="carousel-control-prev" href="#serieCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#serieCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <h3>Categorías:</h3>
        <div class="row">
          @for (cat of serie.categorias; track $index){
            <p class="col-md-4 bg-light text-dark rounded-5 text-center ms-3">{{cat.nombre}}</p>
          }
        </div>
      </div>
    </div>


    <div class="row mb-4">
      <div class="col-12">
        <h3 class="text-light">Sinopsis:</h3>
        <p class="text-light">{{ serie.sinopsis }}</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
        <h3 class="text-light text-center">Número de Capítulos: {{ serie.numeroCapitulos }}</h3>
      </div>
      <div class="col-6">
        <h3 class="text-light text-center">Fecha de Emisión: {{serie.fechaEmision}}</h3>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  }
</div>
